/* css properties shared by the classic version and the star wars version*/
* {
  max-width: 550px;
  margin: 0 auto;
  font-family: 'Londrina Solid', cursive;
  color: gold;
  background: black;
}

h1 {
  text-align: center;
  font-size: 5em;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  margin-left: 20px;
  margin-right: 150px;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
  background: gold;
}

#options {
  display: flex;
  justify-content: center;
}

.flexbox {
  display: flex;
}

.flexchild-10 {
  flex: 10
}

.flexchild-1 {
  flex: 1;
  padding: 10px;
}

button {
  background: gold;
  color: black;
  border: none;
  font-size: 3em;
  flex: 1;
  margin: 10px;
  font-size: 2em;
}

.container {
  flex: 1
  display:block;
  width: 500px;
  height: 500px;
  border: 10px solid gold;
  position: relative;
  margin-top: 25px;
}

.snake {
  height: 10px;
  width: 10px;
  background: gold;
  position: absolute;
}

.food {
  height: 10px;
  width: 10px;
  background: gold;
  /*background-size: 10px*/
  position: absolute;
  top: 10px;
}

#blackbox {
  height: 10px;
  width: 10px;
  background: black;
  float:left;
  position: relative;
  z-index:1;
}
