

.container {
  display:block;
  width: 500px;
  height: 500px;
  border: 10px solid black;
  position: relative
}

.snake {
  height: 10px;
  width: 10px;
  background: black;
  position: absolute;
}

food {
  height: 10px;
  width: 10px;
  background: blue;
  position: absolute;
  top: 50px;
}
