/* css properties shared by the classic version and the star wars version*/
* {
  max-width: 550px;
  margin: 0 auto;
  font-family: 'Londrina Solid', cursive;
  color: gold;
  background: black;
}

a {
  text-decoration: none;
  color: black;
  background: gold;
}

h1 {
  text-align: center;
  font-size: 5em;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  display: inline;
  font-size: 1.3em;
  margin-left: 20px;
  margin-right: 150px;
}

a {
  display: inline;
  margin-left: 20px;
}

#options {
  display: flex;
  justify-content: center;
}

.flexbox {
  display: flex;
}

.flexchild-10 {
  flex: 10
}

.flexchild-1 {
  flex: 1;
  padding: 10px;
}

button {
  background: gold;
  color: black;
  border: none;
  font-size: 3em;
  flex: 1;
  margin: 10px;
  font-size: 2em;
}

.container {
  flex: 1;
  /*display: none;   - need to activate this if we're adding a start button*/
  width: 500px;
  height: 500px;
  border: 10px solid gold;
  position: relative;
  margin-top: 25px;
}

/* setting css properties for star wars version*/
.audioplayer {
  display: flex;
  justify-content: center;
}

iframe {
  display: inline;
}

/* turning snake into a light saber*/
.snake {
  height: 10px;
  width: 10px;
  background: #B9FFDC;
  border-color: black;
  box-shadow: 0 0 50px rgb(0, 255, 127);
  position: absolute;
}

/* making the food objects larger for visibility*/
.food {
  height: 30px;
  width: 30px;
  background-size: 30px;
  position: absolute;
  top: 30px;
  border-radius:10px;
}


/*setting css properties for the six stages (from storm trooper to death star)*/
.one {
  background-image: url("img/1stormtrooper.svg");
}

.two {
  background-image: url("img/2bobafett.svg");
}

.three {
  background-image: url("img/3elephant.svg");
}

.four {
  background-image: url("img/4tiefighter.svg");
}

.five {
  background-image: url("img/5darthvader.svg");
}

.six {
  background-image: url("img/6deathstar.svg");
}

.winning-background {
  background: #CA2128;
  background-image: url("img/final.jpg");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#blackbox {
  height: 10px;
  width: 10px;
  background: black;
  float:left;
  position: relative;
  z-index:1;
}
